# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Bot runtime
state/
logs/

# dofus_bot
dofus_bot/data/maps/cache/
dofus_bot/data/scripts/my_scripts/

# IDE
.vscode/
.idea/
*.swp
*.swo
